<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.test.mapper.ActionRecordMapper">

    <!--新增user   register-->
    <insert id="addActionRecord" parameterType="com.yang.test.po.ActionRecord">
        insert into action_record (id, action, actiontime, operator, service, recordid)
        values (#{id}, #{action}, #{actionTime}, #{operator}, #{service}, #{recordId})
    </insert>

</mapper>