<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.test.mapper.LifeRecordMapper">

    <resultMap id="BaseResultMap" type="com.yang.test.po.LifeRecord">
        <id column="id" property="id"/>
        <result column="produce_record_date" property="produceRecordDate"/>
        <result column="category_id" property="categoryId"/>
        <result column="category" property="category"/>
        <result column="record_producer" property="recordProducer"/>
        <result column="money" property="money"/>
        <result column="first_add_date" property="firstAddDate"/>
        <result column="last_update_date" property="lastUpdateDate"/>
        <result column="remark" property="remark"/>
        <result column="operator" property="operator"/>
    </resultMap>
    <!--返回所有用户信息 SELECT * FROM income_expenditure_record where category_id =3;-->
    <select id="selectAllLifeRecord" resultMap="BaseResultMap">
        select *
        from record.income_expenditure_record
    </select>

    <select id="selectLifeRecordByCategoryID" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from record.income_expenditure_record
        where category_id = #{categoryId}
    </select>


    <!--根据id更改用户信息-->
    <update id="updateLifeRecordByID" parameterType="com.yang.test.po.LifeRecord">
        update income_expenditure_record
        <trim prefix="set" suffixOverrides=",">
            <if test="produceRecordDate != null">produce_record_date = #{produceRecordDate,jdbcType=VARCHAR},</if>
            <if test="categoryId != null">category_id = #{categoryId,jdbcType=INTEGER},</if>
            <if test="category != null">category = #{category,jdbcType=VARCHAR},</if>
            <if test="recordProducer != null">record_producer = #{recordProducer,jdbcType=VARCHAR},</if>
            <if test="money != null">money = #{money,jdbcType=DOUBLE},</if>
            <if test="firstAddDate != null">first_add_date = #{firstAddDate,jdbcType=VARCHAR},</if>
            <if test="lastUpdateDate != null">last_update_date = #{lastUpdateDate,jdbcType=VARCHAR},</if>
            <if test="remark != null">remark = #{remark,jdbcType=VARCHAR},</if>
            <if test="operator != null">operator = #{operator,jdbcType=VARCHAR},</if>
        </trim>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <!--新增record-->
    <insert id="addLifeRecord" parameterType="com.yang.test.po.LifeRecord">
        insert into income_expenditure_record(id, produce_record_date, category_id, category, record_producer, money,
                                              first_add_date, last_update_date, remark, operator)
        values (#{id}, #{produceRecordDate}, #{categoryId}, #{category}, #{recordProducer}, #{money}, #{firstAddDate},
                #{lastUpdateDate}, #{remark}, #{operator})
    </insert>

    <!--删除-->
    <delete id="deleteLifeRecordByID" parameterType="java.lang.String">
        delete
        from income_expenditure_record
        where id = #{id}
    </delete>

</mapper>